.appraiser-table .ant-table {
    cursor: default;
}

.ant-modal-title {
    text-align: center;
    font-size: 24px !important;
}

#appraiser button.ant-btn-primary {
    background-color: #3b82f6;
}

/* body {
    overflow: hidden;
} */